.header__title {
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 730px;
  width: 100%;
  height: auto;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 2;
}
